<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="AgentsEntities" connectionString="metadata=res://*/DataBase.DataBaseModul.csdl|res://*/DataBase.DataBaseModul.ssdl|res://*/DataBase.DataBaseModul.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2001\SQLEXPRESS01;initial catalog=User07;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="User07Entities" connectionString="metadata=res://*/DataBase.Model1.csdl|res://*/DataBase.Model1.ssdl|res://*/DataBase.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E4VMVMB;initial catalog=User07;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>